.message {
    display: flex;
    flex-direction: column;


}

.imageAndText {
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-flow: row-reverse;
    padding: 15px 20px 0 0;

    /*transform: scale(-1, 1);*/
    /*height: 60px;*/
}

.imageAndText img {
    width: 48px;
    height: 48px;
    display: flex;
    align-self: end;


}

.text {
    background-color: #0066cc;
    width: 527px;
    height: 60px;
    flex-shrink: 1;
    /*padding: 48px;*/
    border-radius: 10px 10px 0px 10px;
    padding: 7px 25px 8px 13px;
    position: relative;

}

.text:before {
    content: '';
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    /*z-index: 10;*/

    border: 20px solid transparent;
    border-bottom: 20px solid #0066cc;
}

.text:after {

}

.name {
    display: flex;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    justify-content: end;
    color: #FFF;;
}

.messageText {
    color: #FFF;
    font-size: 16px;
    font-family: Montserrat;
}

.time {
    display: flex;
    justify-content: end;


    color: #000;
    font-size: 10px;
    font-family: Montserrat;
    font-weight: 600;
    padding: 5px 20px 15px 0;
    align-items: center;

}
